@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  --primary: #d4af37;
  --secondary: #2c2c2e;

  --muted: #a1a1aa;

  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.heading-font {
  font-family: var(--font-heading);
}

.container-custom {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
.h1{
  font-size:60px;
}

/* Target the specific close button using its unique classes or position */
button.absolute.top-2.right-2 {
  color: #000000 !important;
}

/* Ensure the SVG icon inside inherits the color */
button.absolute.top-2.right-2 svg {
  stroke: currentColor;
}